*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
.login{
    border: 1px;
    width: 400px;
    height: 500px;
    background:url('./44.jpg');
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size:cover ;
    background-position: center;
    margin: 0px 30%;
    
    
    text-shadow:1px 1px   black;
    
}
form{
    display: block;
    box-sizing: border-box;
padding: 40px;
width: 100%;
height: 100%;
backdrop-filter: brigthness(40%);
flex-direction: column;
display: flex;
gap: 5px;


}
h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 3px 3px  3px black;
    margin-bottom: 60px;

}
label{
    color: rgba(255,255,255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left:10px ;

}
input{
    background: rgba(255,255,255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}
button{
    background: rgb(45, 126, 231);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
    text-shadow: 1px 1px 3px black;

}
.rr:hover{
    background-color: black;
}
.h3:hover{
    font-weight: bolder;
}
.ff:hover{
    font-weight: bolder;
    color: black;
}
.gg:hover{
    background-color: black;
}